/* Our events section */

.events-container {
    margin-top: 80px;
    
}

.events-header h1 {
    color: #000;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.36px;
}

.events-header p {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    max-width: 50%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
}

.events-card img {
    width: 325px;
}

.events-card {
    position: relative;
    margin-top: 94px;
}


.events-name {
    position: absolute;
    bottom: 4px;
    width: 325px;
    padding-top: 30px;
    opacity: 0.9;
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.58) 81.79%, rgba(0, 0, 0, 0.00) 93.48%);
}

.events-name h3{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-left: 5px;
    
    
}

.events-name p {
    font-size: 12px;
    margin-top: 3px;
    line-height: 18px;
    font-weight: 400;
    color: #fff;
    margin-left: 5px;

}

.events-schedule {
    position: absolute;
    top: 12px;
    left: 159px;
}

.events-time {
    color: #FFF;
    background-color: #F34509;
    padding: 5px;
    margin-top: 3px;
}
.events-date {
    color: #FFF;
    background-color: #F34509;
    padding: 5px;
    width: 145px;
    margin-left: 21px;
    
}

.allEvents-cards {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
