/* Speakers */

.speakers-container {
    background-color: #172C27; 
    background-image: url('../images/thunderbg.png');
    
}

.card-container {
    max-width: 85%;
    margin: 0 auto;
}

.speakers-header h1{
    padding-top: 85px;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.36px;
}

.speakers-header p {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    max-width: 55%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
}

.chief-patron-container {
    position: relative;
    margin-top: 25px;
    padding-bottom: 65px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.patron-container {
    max-width: 85%;
    margin-left: 8%;
}

.chief-patron {
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.28px;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 65px;
    
}

.chief-card {
    width: 376px;
    height: 400px;
     display: flex;
   background-color: #FFF;
   position: relative;
   margin-top: 55px;
   
}

.chief-card img {
    top: 36px;
    left: 66px;
    right: 66px;
    position: absolute;
}

.chief-card:hover path:first-child {
    fill: #EB9231;
    transition: 0.4s;
}

.title-tag {
    margin-left: 35px;
    background-color: #179748;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    font-size: 14px;
    color: #FFF;
    width: 116px;
    position: absolute;
    top: 310px;
    left: 85px;
    
    
}

.title-tag img {
    margin-top: 10px;
}

.name-designation {
    position: absolute;
    text-align: center;
    bottom: -15px;
    padding-bottom: 25px;
    left: 48px;

}

.name-designation h1 {
    font-weight: 700;
    line-height: 32px;
}
.name-designation p {
    font-weight: 400;
    line-height: 25px;
}